body {
  margin: 0;
}

h1, h2, h3 {
  margin: .5rem 0;

}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}
.col-1 {
  flex:1
}
.col-2 {
  flex:2
}
.block {
  background-color: lightgrey;
  padding: 1rem;
  margin: .5rem;
  border-radius: .5rem;
}
.row.center {
  align-items: center;
}
img.small {
  max-height: 8rem;
}
button {
  font-size: .8rem;
  padding: .2rem;
  margin: .1rem;
  border: none;
  background-color: orange;
  width: 100%;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out;
}
button:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, .5);
}
button.add {
  background-color: blue;
  width: 1.5rem;
}
button.remove {
  background-color: red;
  width: 1.5rem;
}
button.badge {
  background-color: red;
  border: none;
  width: 1.5rem;
}
.text-right {
  text-align: right;
}
